


<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('../Img/About-New.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>About Me</h1>
                    <hr class="small">
                    <span class="subheading">This is me.</span>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <img src="~/Img/Eli Frazier_bw.jpg" class="image" />
            <p>
                I am a young developer just getting started in the industry. so far my knowledge is rather limited, but it's growing everyday. in this blog I will be 
                documenting my growth in knowlege and skills. 
            </p>
            <p>
                I've lived in Lexington, North Carolina for as long as I can remember, but hope to branch out and move away sometime in the near future. 
                I graduated from West Davidson High School and am currently studying at the Coder Foundry in Kernersville, North Carolina. 
            </p>
            <p>
                If you would like to see some of my other work, please feel free to visit my <a target="_blank" href="https://efrazier-portfolio.azurewebsites.net">digital portfolio.</a>
                There you will see some basic practices and other items I've created in my time as a developer. 
            </p> 
        </div>
    </div>
</div>
<hr>